<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxDuEY8mpI9UI4HzcL_jeJLUL99t-Hv7I</string>
	<key>GCM_SENDER_ID</key>
	<string>607093230114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a2.a2chat2</string>
	<key>PROJECT_ID</key>
	<string>a2chat-1fbf2</string>
	<key>STORAGE_BUCKET</key>
	<string>a2chat-1fbf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607093230114:ios:aa84b40058665aba07187b</string>
</dict>
</plist>